*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.col-sm-8{
    margin: 80px 120px;
}
.main-footer{
    display: flex;
    justify-content: center;
}
.container-fluid{
    background-color: whitesmoke;
    display: flex;
    justify-content: space-between;
}
.nav-link:hover{
    width: 80px;
    height: 95px;
    background-image: linear-gradient(
        0deg, rgb(234, 241, 237)0%, rgb(71, 143, 90)50%, rgb(45, 189, 105)) ;
}
footer{
    height: 200px;
    background-color: rgb(54, 116, 135);
    color: white;
}
.row .col-sm-4{
    display: flex;
    padding-left: 30px;
}
#navbarText{
    right: 0;
}


